.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.header {
    background-color: burlywood;
    color: brown;
    text-align: center;
}

.entry {
    display: flex;
    justify-content: center;
}
.addNew {
    font-weight: bold;
    font-size: 20px;
    background-color: turquoise;
}

ul {
    list-style-type: none;
    padding: 0px;
    font-size: 22px;
    
}

label {
    font-weight: 900;
    padding: 4px;
    margin: 4px 12px;
}

.submit-book {
    margin: 12px;
}

input[type="text"],
input[type="number"] {
    font-size: 20px;
    display: block;
    padding: 4px;
    margin: 4px 12px;
}

input[type="checkbox"] {
    display: inline;
    padding: 4px;
    margin: 4px 12px;
}

input#submit-form-data,
input#reset-form-data,
button#close-dialog {
    margin: 8px;
    font-weight: bold;
    font-size: 24px;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    position: absolute;
    top: 30vh;
    left: 20vw;
    z-index: 2;
    max-width: 50vw;
    background-color: teal;
    gap: 10px;
}

.bookCard {
    background-color: orange;
    border: 2px;
    border-color: red;
    border-radius: 2px;
    text-align: left;
    line-height: 1.5rem;
    padding: 20px 20px;
    margin: 10px;
}
